{% extends "navbar.html" %}

{% block content %}

<div class="nuevo">
    <div class="principal">
        <img src="static/logo.png">
    </div>
    <div class="principal">
        <form class="example">
            <input type="text" placeholder="Good luck!">
            <button type="submit" value="Search"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="principal">
        <p>Search engine for the Internet of Things (IoT)</p>
    </div>
    <div class="principal">
        <img class="map" src="static/map.png">
    </div>
</div>

{% endblock %}